@import '../../../assets/styles/global.scss';

.mat-primary-background {
  background: #1C5D95 !important;
  border-radius: $radius-l;
  color: white;
  border: none;
  padding: 9px 40px;
  gap: 8px;
  width: 310px;
  cursor: pointer;
}