<div class="card_box">
  <ng-container *ngIf="cardData?.title">
    <div class="title">{{ cardData?.title }}</div>
  </ng-container>
  <!-- <ng-container *ngIf="cardData?.description">
    <div class="description">{{ cardData?.description }}</div>
  </ng-container> -->
  <div class="flex flex-row gap-3 mt-3">
    <!-- <button class="assess-btn">Assess</button> -->
    <button mat-button class="assess-btn"(click)="startSelfAssesment(cardData)">Assess</button>
    <button class="btn-long">View Courses</button>
  </div>

</div>
