<div class="card_box">
  @if (cardData?.title) {
    <div class="title">{{ cardData?.title }}</div>
  }
  <!-- <ng-container *ngIf="cardData?.description">
  <div class="description">{{ cardData?.description }}</div>
</ng-container> -->
<div class="flex flex-row gap-3 mt-3">
  <!-- <button class="assess-btn">Assess</button> -->
  @for (btn of btnType; track btn) {
    @if (btn.courseId == cardData.contentId) {
      @if (btn.type === 'START') {
        <button
          mat-button
          class="assess-btn btn-small"
          (click)="startSelfAssesment(cardData)">
          {{'ASSESS' | translate}}
        </button>
      }
      @if (btn.type === 'RESUME') {
        <button
          mat-button
          class="reassess-btn btn-small"
          (click)="startSelfAssesment(cardData)">
          {{'RE-ASSESS' | translate}}
        </button>
      }
      @if (btn.type === 'DONE') {
        <button
          mat-button
          disabled
          class="done-btn btn-small"
          (click)="startSelfAssesment(cardData)">
          {{'DONE' | translate}}
        </button>
      }
    }
  }

  <button class="btn-long" (click)="viewCourses(cardData)">{{'VIEW_COURSES' | translate}}</button>
</div>
</div>
