<div class="card_box">
  <ng-container *ngIf="cardData?.title">
    <div class="title">{{ cardData?.title }}</div>
  </ng-container>
  <!-- <ng-container *ngIf="cardData?.description">
    <div class="description">{{ cardData?.description }}</div>
  </ng-container> -->
  <div class="flex flex-row gap-3 mt-3">
    <!-- <button class="assess-btn">Assess</button> -->
    <ng-container *ngFor="let btn of btnType">
      <ng-container *ngIf="btn.courseId == cardData.contentId">
        <button
          *ngIf="btn.type === 'START'"
          mat-button
          class="assess-btn btn-small"
          (click)="startSelfAssesment(cardData)"
          i18n
        >
        {{'ASSESS' | translate}}
        </button>
        <button
          *ngIf="btn.type === 'RESUME'"
          mat-button
          class="reassess-btn btn-small"
          (click)="startSelfAssesment(cardData)"
          i18n
        >
       {{'RE-ASSESS' | translate}}
        </button>
        <button
          *ngIf="btn.type === 'DONE'"
          mat-button
          disabled
          class="done-btn btn-small"
          (click)="startSelfAssesment(cardData)"
          i18n
        >
        {{'DONE' | translate}}
        </button>
      </ng-container>
    </ng-container>

    <button class="btn-long" i18n (click)="viewCourses(cardData)">{{'VIEW_COURSES' | translate}}</button>
  </div>
</div>
