
:root {
    font-size: 16px;
    // base colors
    --blue: #1C5D95;
    --yellow: #FFF4DF;
    --teal: #A4DFCA;
    --black: #000000;
    --white: #ffffff;
    --light-gray: #eff6fc;
    --gray-200: #8E8E8E;
    --gray-300: #989898;
    --gray-400: #808080;
    --grey-500: #919191;
}

$size-s: 12px;
$size-m: 14px;
$size-l: 16px;
$size-lg: 20px;
$size-xl: 24px;

$spacing: -.02em;
$radius-circle: 50%;
$radius-m: 10px;
$radius-l: 50px;
$cursor: pointer;

@mixin breakpoint-xs {
    @media only screen and (max-width: 599px) {
        @content;
    }
}
  
@mixin breakpoint-s {
    @media only screen and (min-width: 600px) and (max-width: 959px) {
        @content;
    }
}
  
@mixin breakpoint-m {
    @media only screen and (min-width: 960px) and (max-width: 1279px) {
        @content;
    }
}
  
@mixin breakpoint-l {
    @media only screen and (min-width: 1280px) and (max-width: 1919px) {
        @content;
    }
}

@mixin breakpoint-xl {
    @media only screen and (min-width: 1920px) {
        @content;
    }
}

.button-primary {
    background-color: var(--blue) !important;
    border-radius: $radius-l;
    gap: 8px;
    color: var(--white) !important;
    border: none;
}

.mat-primary-background {
    padding: 9px 40px;
    width: 310px;
    cursor: $cursor;
}