@import "../../../assets/styles/global.scss";

.activity-card-container {
  margin: 15px 2px;
  // padding: 16px 10px 20px 14px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: $radius-m;
  // background: var(--light-gray) !important;
}

.spinner-loading {
  display: flex;
  justify-content: center;
}

.role-title {
  font-size: $size-lg;
  line-height: 19px;
  letter-spacing: $spacing;
  color: var(--blue);
}

.icon-down {
  place-self: flex-end;
  color: var(--black) !important;
}

:host ::ng-deep .mat-expansion-panel {
  // margin: 10px 0px;
  //padding: 10px 0px !important;
  height: auto !important;
}

:host ::ng-deep .mat-expansion-panel-header:hover {
  background: inherit !important;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0px 0px 16px !important;
}

.activity-card-container .mat-accordion .mat-expansion-panel  .mat-expansion-panel-header {
  padding: 10px 10px 0 !important;
}

.activity-card-container .mat-accordion .mat-expansion-panel .mat-expansion-panel-content  .mat-expansion-panel-body {
  padding: 0px 0px 16px !important;
}

#activity-header .mat-expansion-panel-header {
  // padding: 15px !important;
  // background-color: var(--light-gray) !important;
  border-radius: $radius-m !important;
  padding: 10px 10px 0px !important;
}

::ng-deep .mat-expansion-indicator {
  width: 24px;
  height: 24px;
  color: var(--black) !important;
}

:host ::ng-deep .mat-expansion-indicator::after {
  color: var(--black) !important;
}

:host ::ng-deep .mat-expansion-panel-header-description {
  margin-right: 0px !important;
}

.activity-title {
  font-size: $size-l;
  line-height: 19px;
  letter-spacing: $spacing;
  color: var(--black);
  margin-bottom: 10px;
  padding: 0 10px;
}

.competency-container {
  background: var(--white);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  border-radius: $radius-m;
  padding: 10px;
  margin: 18px 0 15px;

  .competency-title {
    font-size: $size-lg;
    line-height: 25px;
    letter-spacing: $spacing;
    color: var(--black);
    margin-bottom: 20px;
  }

  .level {
    font-size: $size-xl;
    line-height: 24px;
    letter-spacing: $spacing;
    color: var(--blue);
  }
}

.expand-container {
  padding: 15px 0px 0;
}

.activity-badge {
  font-weight: 400;
  font-size: 14px;
  color: #1c5d95;
  background: #ebf4fb;
  border-radius: 50px;
  width: fit-content;
  padding: 5px 20px;
  margin: 0 10px 15px;
}

.mat-progress-bar {
  // width: 275px;
  border-radius: 40px;
  height: 10px !important;
}

.value {
  position: relative;
  bottom: 19px;
  color: #1c5d95;
  width: 275px;
  display: flex;
  justify-content: center;
}

::ng-deep .green-bar .theme-igot.day-mode .mat-progress-bar-fill::after {
  background: #34d6a4 0% 0% no-repeat padding-box !important;
  border-radius: 40px;
}

::ng-deep.warn-bar .mat-progress-bar-fill::after {
  background: #F1CF8A 0% 0% no-repeat padding-box !important;
  border-radius: 40px;
}

::ng-deep.theme-igot.day-mode .mat-progress-bar-buffer {
  background-color: #f5f5f5 !important;
}




.theme-sphere.day-mode .mat-progress-bar-buffer {
  background-color: #f5f5f5 !important;
}

.progress-status {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  place-self: end;
}

.progress-status-none {
  visibility: hidden;
}
