.card-container {
  margin: 15px 2px;
  padding: 16px 10px 20px 14px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #eff6fc !important;
}
.spinner-loading {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #1c5d95;
}

.icon-down {
  place-self: flex-end;
  color: #1c5d95 !important;
}

:host ::ng-deep .mat-expansion-panel {
  margin: 10px 0px;
  //padding: 10px 0px !important;
  height: auto;
}

:host ::ng-deep .mat-expansion-panel-header:hover {
  background: rgb(239 246 252) !important;
}

:host ::ng-deep .mat-expansion-panel-header {
  padding: 15px !important;
  background-color: #eff6fc !important;
  border-radius: 10px !important;
}

.activity-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #000000;
}

.competency-container{
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  border-radius: 10px;
  padding: 10px;
  margin: 18px 0 15px;

  .competency-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 20px;
  }

  .level{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #1C5D95;
  }
}

.expand-container{
  padding: 15px 15px 0;
}