<lib-app-loader *ngIf="loading === true"></lib-app-loader>
<ng-container *ngFor="let role of roleactivitySummaries">
  <div class="card-container">
    <mat-accordion>
      <mat-expansion-panel
        class=""
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header
          class="flex-between items-center w-full"
          collapsedHeight="auto"
          expandedHeight="auto"
        >

          <mat-panel-description class="panel-header-description">
            <ng-container *ngIf="role?.roles">
              <div class="flex flex-column w-full">
                <div class="title">{{ role?.roles }}</div>
                <!-- <div class="progress-status-none" *ngIf="role?.averagePercentage == 0">kk</div> -->
                <div class="progress-status" *ngIf="role?.averagePercentage < 100">In Progress</div>
                <div class="progress-status" *ngIf="role?.averagePercentage == 100">Completed</div>
                <ng-container >
                  <!--  'warn-bar': role?.averagePercentage < 100 && role?.averagePercentage != 0, -->
                  <div [ngClass]="{'green-bar': role?.averagePercentage == 100 , 'warn-bar': role?.averagePercentage < 100 && role?.averagePercentage != 0 }">
                  <mat-progress-bar class="bar-progress-colour" mode="determinate" value={{role?.averagePercentage}} class="mt-1"></mat-progress-bar>
                  </div>
                </ng-container>
               
              </div>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <lib-app-loader *ngIf="acordianLoading === true"></lib-app-loader>
        <div class="expand-container" *ngIf="roleactivitySummaries.length>0">
          <!-- list of activity -->
          <div class="activity-badge">Activities</div>
          <ng-container
            *ngFor="let activity of role?.activities; let i = index"
          >
            <div class="activity-title">
              {{ i + 1 }}.{{ activity.title }}
            </div>

            
          </ng-container>
            <div class="">
              <lib-competency-accordion [competencyList]="role?.activities"></lib-competency-accordion>
            </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
   
  </div>
</ng-container>
