<div class="content">
  <mat-icon (click)="navigateBack()" class="cursor-pointer mb-3"
    >chevron_left</mat-icon
  >

  <h1 class="pl-2 mb-0" i18n>Competency Dashboard</h1>

  <div class="pl-2 tab-container">
    <!-- <ng-container *ngIf="tabIndex === 1">
      <div class="sortIcon">
        <img src="./assets/comptency/images/filter.png" />
      </div>
    </ng-container> -->
    <mat-tab-group
      [ngClass]="{ 'header-width-icon': tabIndex === 1 }"
      class="remove-border-bottom"
      animationDuration="0ms"
      [selectedIndex]="tabIndex"
      (selectedTabChange)="changeTab($event)"
    >
      <!-- Active Summary as Job Description -->
      <mat-tab i18n-label label="Job Description">
        <h4 class="mt-4 mb-1" i18n>Roles</h4>
        <lib-active-summary *ngIf="tabIndex === 0"></lib-active-summary>
      </mat-tab>

      <!-- gained as Passbook  -->
      <mat-tab i18n-label label="Passbook">
        <div class="legend-container">
          <div class="legend legend-blue"></div>
          <h5 i18n>External</h5>
          <div class="legend legend-green"></div>
          <h5 i18n>Self</h5>
          <div class="legend legend-yellow"></div>
          <h5 i18n>Course</h5>
        </div>
        <lib-gained-comptency-card
          *ngIf="tabIndex === 1"
        ></lib-gained-comptency-card>
      </mat-tab>

      <!-- required -->
      <mat-tab i18n-label label="Required">
        <div class="required-comperencies">
          <div class="mt-2 tab-badge" i18n>Self Assessments</div>
          <lib-required-comptency-card
            *ngIf="tabIndex === 2"
          ></lib-required-comptency-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
