// @import 'ws-mixins';
@import "../../../assets/styles/global.scss";

.content {
  padding: 60px 0px 50px;
  margin: auto;

  @media only screen and (min-width: 960px) {
    max-width: 30%;
    padding: 20px 20px 0px;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 35%;
  }

  @media only screen and (min-width: 1920px) {
    max-width: 30%;
  }

  @media only screen and (min-width: 600px) and (max-width: 959px) {
    max-width: 50%;
  }

  @media only screen and (max-width: 599px) {
    max-width: 90%;
  }
}

.remove-border-bottom .mat-tab-header {
  border-bottom: none;
}

:host ::ng-deep .remove-border-bottom .mat-tab-header {
  border-bottom: none !important;
}

::ng-deep .mat-tab-label {
  padding: 0 !important;
  min-width: 65px !important;
  color: var(--gray-200) !important;
  opacity: 1.6 !important;
  font-size: 16px !important;
  margin-right: 10px;
}

::ng-deep .mat-tab-label-active {
  color: var(--blue) !important;
}

:host ::ng-deep .mat-ink-bar {
  height: 3px !important;
  background: var(--blue) !important;
  border-radius: 5px !important;
}

::ng-deep .theme-igot.day-mode .mat-ink-bar {
  background-color: var(--blue) !important;
}

.legend-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;

  @media only screen and (max-width: 599px) {
    gap: 5px;
  }

  h5 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    @media only screen and (max-width: 599px) {
      font-size: 12px;
    }
  }

  .legend {
    min-width: 15px;
    height: 15px;
    background: #dfedf9;
    border-radius: 50%;
    border: 0.5px solid #959595;
  }

  .legend-green {
    background: var(--teal);
    margin-left: 18px;
  }
  .legend-blue {
    background: #7cb5e6;
  }
  .legend-yellow {
    background: #fffbb0;
    margin-left: 18px;
  }
}

// .required-comperencies {
//   height: calc(100vh - 270px);
//   overflow: auto;
// }

.btn-start {
  width: 311px;
  height: 35px;
  background: var(--blue);
  border-radius: 50px;
  border: none;
  color: var(--white);
}

.tab-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .sortIcon {
    position: absolute;
    right: 0px;
    top: 13px;
    width: 20px;
  }
}

.mat-tab-header-sortIcon {
  ::ng-deep .mat-tab-header {
    width: calc(100% - 25px);
  }
}

.tab-badge {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
