@if (loading === true) {
  <lib-app-loader></lib-app-loader>
}
@if (selfAssessmentData) {
  <div class="">
    @if (selfAssessmentData.length > 0) {
      @for (cardData   of selfAssessmentData; track cardData  ) {
        @if (cardData) {
          <lib-self-assessment-card [cardData]="cardData" [btnType]="btnType"></lib-self-assessment-card>
        }
      }
    } @else {
      @if (!loading) {
        <lib-no-result [data]="noResultData" [languagePreferred]="language"></lib-no-result>
      }
    }
  </div>
}
