<lib-app-loader *ngIf="loading === true"></lib-app-loader>
<div class="content" *ngIf="selfAssessmentData">
    <ng-container *ngIf="selfAssessmentData.length > 0; else noData ">
        <ng-container *ngFor="let cardData   of selfAssessmentData">
            <ng-container *ngIf="cardData">
                <lib-self-assessment-card [cardData]="cardData" [btnType]="btnType"></lib-self-assessment-card>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-template #noData>
        <ng-container *ngIf="!loading">
            <lib-no-result [data]="noResultData"></lib-no-result>
        </ng-container>
    </ng-template>
</div>
