
.content {
  padding: 60px 20px 50px;
  margin: auto;

  @media only screen and (min-width: 960px) {
    max-width: 30%;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 35%;
  }

  @media only screen and (min-width: 1920px) {
    max-width: 30%;
  }

  @media only screen and (min-width: 600px) and (max-width: 959px) {
    max-width: 50%;
  }

  @media only screen and (max-width: 599px){
    max-width: 90%;
  }
}





