<lib-app-loader *ngIf="loading === true"></lib-app-loader>
<div class="content"  *ngIf="selfAssessmentData">
    <!-- <mat-icon (click)="navigateBack()" class="cursor-pointer">chevron_left</mat-icon> -->
    <!-- <h1 class=" mb-1 pl-2 ">Self Assessment</h1> -->
    <ng-container *ngFor="let cardData   of selfAssessmentData">
        <ng-container *ngIf="cardData">
            <lib-self-assessment-card [cardData]="cardData"></lib-self-assessment-card>
        </ng-container>
    </ng-container>
</div>