.date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #989898;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.card-container {
    margin: 15px 2px;
    padding: 14px 10px 20px 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: #FFFFFF;
  }
  
  .title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.02em;
    margin-bottom: 8px;
  }
  
  .description {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
  }

  .panel {
    box-shadow: 0px 0px 0px 0px !important;
    padding: 1px 3px 1px 0px;
    pointer-events: none;
  }

  .panel-header {
    padding: 0px;
    background: none !important;
  }
  
  .panel-header-description {
    margin: 0px !important;
    padding: 1px;
  }

  .pointer-events {
    pointer-events: all;
  }

  .level {
    width: 47px;
    max-width: 16.6%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2.17333px #00000040;
  }

  .logs {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #808080;
  }

  .log-date {
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #808080;
  }

  .log-header {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .log {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 9px;
    margin-top: 10px;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
  }
