@import '../../../assets/styles/global.scss';
.date {
    font-size: $size-s;
    line-height: 14px;
    letter-spacing: $spacing;
    color: var(--gray-300);
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.card-container {
    background: var(--white);
    border-bottom: 1px solid #DDDDDD;
  }
  
  .title {
      font-size: $size-xl;
      line-height: 29px;
      letter-spacing: $spacing;
      margin-bottom: 18px;
  }

  .levelsTitle {
    font-size: $size-m;
    line-height: 24px;
    letter-spacing: $spacing;
    color: var(--black);
  }

  .panel {
    box-shadow: 0px 0px 0px 0px !important;
    padding: 1px 3px 1px 0px;
    // pointer-events: none;
  }

  .panel-header {
    padding: 0px !important;
    background: none !important;
  }
  
  .panel-header-description {
    margin: 0px !important;
    padding: 1px;
  }

  .pointer-events {
    // pointer-events: all;
    // cursor: pointer;
    width: auto;
  }

  .arrowReverse {
    transform: rotateX(180deg);
  }

  .level {
    width: 47px;
    max-width: 16.6%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2.17333px #00000040;
  }

  .log-header {
    font-size: $size-m;
    line-height: 24px;
    letter-spacing: $spacing;
    color: var(--black);
  }

  .log {
    font-style: italic;
    font-size: $size-m;
    line-height: 16px;;
    letter-spacing: $spacing;
    color: var(--gray-400);
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 9px;
    margin-top: 10px;
  }

  .log-date {
    font-style: normal;
    font-size: $size-s;
    line-height: 14px;
    letter-spacing: $spacing;
    color: var(--gray-400);
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
  }

  :host ::ng-deep .mat-content {
    display: unset !important;
  }

  .hide-content {
    display: none;
  }

  .individual-select {
    border: 2px solid #1C5D95;
  }
