@import "../../../assets/styles/global.scss";

.competency-badge {
  font-weight: 400;
  font-size: 14px;
  color: #1c5d95;
  padding: 0 10px;
  margin-top: 20px;
}

.competency-title {
  font-size: $size-l;
  line-height: 19px;
  letter-spacing: $spacing;
  color: var(--black);
}

.expand-container {
  padding: 0px 10px;
}

.Levels-badge {
  font-size: 14px;
  color: #1c5d95;
  margin-bottom: 5px;
}

.circle-tick {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27ae60;
  font-size: 18px !important;
}

.non-progress{
  // width: 24px;
  // height: 24px;
  visibility: hidden;
}

::ng-deep .mat-expansion-panel{
  box-shadow: none !important;
}

.btn-long {
  border: 1px solid #1c5d95;
  border-radius: 50px;
  color: #1c5d95;
  background-color: inherit;
  width: fit-content;
  padding: 3px 25px;
  cursor: pointer;
}

.btn-small {
  border-radius: 50px;
  width: fit-content;
  padding: 3px 20px;
  border: none;
  cursor: pointer;
}

.assess-btn {
  background: #1c5d95;

  color: #ffffff;
}

.reassess-btn {
  background: #52ad9d;

  color: #ffffff;
}

.done-btn {
  background-color: #bfbfbf;
  color: #808080;
}
