@import "../../../assets/styles/global.scss";

.competency-badge {
  font-weight: 400;
  font-size: 14px;
  color: #1c5d95;
  padding: 0 10px;
  margin-top: 20px;
}

.competency-title {
  font-size: $size-l;
  line-height: 19px;
  letter-spacing: $spacing;
  color: var(--black);
}

.expand-container {
  padding: 0px 10px;
}

.Levels-badge {
  font-size: 14px;
  color: #1c5d95;
  margin-bottom: 5px;
}

.circle-tick {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27ae60;
  font-size: 18px !important;
}

