
<div class="competency-badge">Competencies :</div>
<ng-container  *ngFor="let competency of competencyList; let i = index" >
  <!-- <div class="competency-list">
    {{ i + 1 }}.{{ competency.competency }}
  </div> -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header
        class="flex-between items-center w-full"
        collapsedHeight="auto"
        expandedHeight="auto"
      >
        <mat-panel-description class="panel-header-description">
          <ng-container *ngIf="competency.competency">
            <div class="competency-title">{{ competency.competency }}</div>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <lib-app-loader *ngIf="acordianLoading === true"></lib-app-loader> -->
      <div class="expand-container" >
        <!-- list of levels -->
        <div class="Levels-badge">Levels :</div>
        <ng-container
          *ngFor="let level of competency.levels; let i = index"
        >
          <div class="Levels-title">
            {{ i + 1 }} : {{ level }}
          </div>
        </ng-container>
         
      </div>
    </mat-expansion-panel>
  </mat-accordion>
 <hr/>
</ng-container>

